server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name {{ host_ip }};


    ssl_certificate      /etc/letsencrypt/archive/{{ host_ip }}/cert1.pem;
    ssl_certificate_key  /etc/letsencrypt/archive/{{ host_ip }}/privkey1.pem;
    


    
    location / {
        proxy_pass http://192.168.100.21:5601;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}

